<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
       
        <ion-title>
            DETAIL
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1>
        Guideline!
    </h1>
    <p>
        For take photos you must go to Gallery.
        Please, follow the simple step <ion-icon slot="start" name="footsteps-outline"></ion-icon>
    </p>
    <ion-button routerLink="/gallery">Go to Gallery</ion-button>

</ion-content>